<?xml version="1.0"?>
<!--
/**
 * Resolve
 * Resolve system configuration.
 *
 * @category  Resolve
 * @package   Resolve_Resolve
 * @copyright Copyright (c) 2016 Resolve, Inc. (http://www.resolvecommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="check_resolve_payment_method_is_active" instance="Resolve\Resolve\Model\Observer\PaymentMethodIsActive" />
    </event>
    <event name="customer_address_format">
        <observer name="resolve_missing_region" instance="Resolve\Resolve\Model\Observer\AddressFormat" />
    </event>
</config>
